{% extends 'base.html' %}

{% block content %}

<h1> Displaying the list of all Users </h1>
{% if users %}
<div class = "user_table">
  <table class="table table-bordered" >
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Actions</th>
    </thead>
  {% for user in users %}
    <tr>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.address}}</td>
      <td>{{user.phone}}</td>
      <td><a href = "" > {{user.website}} </a> </td>
      <td> <button type = "submit" class = "btn btn-primary" onclick = "location.href= '{% url 'post' user_id=user.id %}'"> View Posts</button></td>
    </tr>
    </div>
    <style>
      h1{
        text-align:center;
        color:red;
        margin-bottom:100px
      }
    </style>

   {% endfor %}
{% endif %}

{% endblock content %}
